################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/RetroGamesGo.Core/bin/Debug/netstandard2.0
/RetroGamesGo.Core/obj
/RetroGamesGo.Droid/bin/Debug
/RetroGamesGo.Droid/obj
/RetroGamesGo.iOS/bin/iPhoneSimulator/Debug
/RetroGamesGo.iOS/obj

RetroGamesGo\.Models/obj/

RetroGamesGo\.Models/bin/
