<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.xamarinuy.retrogamesgo" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-feature android:name="android.hardware.camera.ar" android:required="true" />
	<application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/appName" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme">
		<!-- Indicates that app requires ARCore ("AR Required"). Causes Google
         Play Store to download and install ARCore when the app is installed.-->
		<meta-data android:name="com.google.ar.core" android:value="required" />
	</application>
</manifest>